@import './general.scss';

:host {


  .main-container {
    margin: -20px 0 0 -10px;
    width: 110%;
    height: 110vh;
    background-color: #111;
    .side-menu {
      width: 180px;
      position: absolute;
      height: 100vh;
      background-color: #222;
      transition: all 200ms;
      &.closed {
        width: 0px;
      }
    }

    .main-content {
      position: relative;
      left: 180px;
      height: 100%;
      margin: auto;

  }
}
}
