<div class='main-container'>

  <!-- Side menu -->
  <div class='side-menu'>

  </div>

  <!-- Main content -->
  <div class='main-content'>

    <!-- Centralised items -->
    <div class='central-hub'>

      <!-- Items -->
      <div class='row'>
        <div class='item'>
          <div class='text'>
            Dit is een item
          </div>
        </div>
        <div class='item'>
          <div class='text'>
            Dit is een item
          </div>
        </div>
        <div class='item'>
          <div class='text'>
            Dit is een item
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='item'>
          <div class='text'>
            Dit is een item
          </div>
        </div>
        <div class='item'>
          <div class='text'>
            Dit is een item
          </div>
        </div>
        <div class='item'>
          <div class='text'>
            Dit is een item
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
