<div class='main-container'>

  <!-- Side menu -->
  <div class='side-menu'>

  </div>

  <!-- Main content -->
  <div class='main-content'>

    <!-- Centralised items -->
    <div class='central-hub'>

      <!-- Items -->
      <div class='row'>
        <div class='item'>
          <img class='image' src='./../assets/images/character.jpg'>
          <div class='text'>
            Characters
          </div>
        </div>
        <div class='item'>
            <img class='image' src='./../assets/images/tome.jpg'>
          <div class='text'>
            Story
          </div>
        </div>
        <div class='item'>
            <img class='image' src='./../assets/images/sky_fortress.jpg'>
          <div class='text'>
            Locations
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='item'>
            <img class='image' src='./../assets/images/world.jpg'>
          <div class='text'>
            World
          </div>
        </div>
        <div class='item'>
            <img class='image' src='./../assets/images/game.png'>
          <div class='text'>
            Game
          </div>
        </div>
        <div class='item'>
          <img class='image' src='./../assets/images/editor.png'>
          <div class='text'>
            Editor
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
